{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}

{% block content %}
<h1>Se connecter</h1>
  <div class="content-register">
    
    <div class="block">
      <div class="column">
      <form method="post">
        <div><input type="text" placeholder="Nom d'utilisateur" name="username" id="username" required></div>
        <div><input type="password" placeholder="Mot de passe" name="password" id="password"  required></div>
        <a href="emailcode">Mot de passe oublié?</a>
        <div><input type="submit" value="Poursuivre"></div>
      </form>
      </div>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>                                   
{% endblock %}