{% extends 'base.html' %}

{% block title %}
  Homepage
{% endblock %}

{% block content%}
  <div class="content-index">
    {% if g.user %}
      <h1>Vous êtes connectés</h1>
    {% else %}
      <div id="Blogo">
        <img src="{{url_for('static', filename='imgs/logo_big.png')}}" alt="logo_homepg"></img>
      </div>
    {% endif %}
  </div>
  <div class="center">
    <a href="{{url_for('auth.create')}}">
      <input type="button" value="Créer un projet">
    </a>
  </div>
  <div class="hmpg">
    <h3>Bienvenue au site UniteArts</h3>
    <li>      </li>
    <li>fawjoopaijfa</li>
    
  </div>  
{% endblock %}
