{% extends 'base.html' %}

{% block title %}
  Homepage
{% endblock %}

{% block content%}
  <div class="content-index">
    {% if g.user %}
      <h1>Vous êtes connectés</h1>
    {% else %}
      <div id="Blogo">
        <img src="{{url_for('static', filename='imgs/logo_big.png')}}" alt="logo_homepg"></img>
      </div>
    {% endif %}
  </div>
  <div class="hmpg">
    <h3>foAFBWAIOBFAFBAVOABWVO
      <li>      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

      <li></li>
      <li></li><li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

      <li>fawjoopaijfa</li>
    </h3>
  </div>  
{% endblock %}
